

.fancy {
	display: block;
	overflow: hidden;
	position: relative;
}

.fancy .meta {
	color: #000;
}






@media all and (min-width: 450px) {
	.fancy .meta .excerpt {
		font-size: 100%;
		color: green;
	}
}


@media all and (min-width: 800px) {
	.fancy .meta .excerpt {
		font-size: 125%;
		color: blue;
	}

	.fancy .meta {
		background: rgba(169,169,169, .3);
		-webkit-backdrop-filter: blur(4px) saturate(150%) brightness(50%);
		height: 100%;
		position: absolute;
		bottom: -75%;
		transition: all .2s ease-in-out;
		width: 100%;
		z-index: 1;
	}
	.fancy:hover .meta, .fancy:focus .meta {
		bottom: 0 !important;
	}

	.fancy .meta .excerpt {
		color: white;
		font-size: 90%;
		line-height: 1.6;
		margin: 2rem;
		opacity: 0.0;
	}
	.fancy:hover .meta .excerpt {
		opacity: 1.0;
		transition: 1s;
	}


	.fancy .meta h1 {
		color: #fff;
		margin: 1em;
	}
	.fancy:hover .meta h1 {
		color: #fff;
		margin: 0;
		height: 0;
		overflow: hidden;
	}



	.fancy .cl-button {
		bottom: 0;
		opacity: 0;
		position: absolute;
		transition: all .2s ease-in-out;
		width: 100%;
		z-index: 2;
	}
	.fancy:hover .cl-button {
		opacity: 1;
	}


}


.fancy img {
	display: block;
	width: 100%;
	height: auto;
}
